.cross-hair {
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(75, 197, 197);
    padding-right: 6px;
    border-radius: 0px 35px 35px 0px;
    border: none;
}

.cross-hair:hover {
    background-color: rgb(200, 0, 0);
    color: white;
}